@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-white overflow-x-hidden
}

textarea:focus, input:focus{
  outline: none;
}

.custom{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

